body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "TitleFont";
  src: local("TitleFont"), url("./fonts/TitleFont.ttf") format("truetype");
  font-weight: bold;
 }

 @font-face {
  font-family: "ContentFont2";
  src: local("ContentFont2"), url("./fonts/ContentFont2.ttf") format("truetype");
  font-weight: bold;
 }